* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.section-why-choose {
  background: #fff;
}

.why-choose-parent {
  padding: 20px 0;
}

.why-choose-image, .why-choose-content {
  display: inline-block;
}

.why-choose-image img {
  max-width: 100%;
}

.why-choose-content h1 {
  font-size: 25px;
}

.why-choose-content p {
  color: #000;
  font-size: 16px;
}

.why-choose-sub-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* section-why-choose end */
@media (max-width: 799px) {
  .container {
    padding: 0 15px;
  }
  .why-choose-image, .why-choose-content {
    width: 100%;
  }
  .why-choose-image img {
    width: 100%;
  }
  .why-choose-image {
    margin-bottom: 20px;
  }
  .why-choose-content h1 {
    margin-bottom: 8px;
  }
}

@media (min-width: 800px) {
  .container {
    max-width: 760px;
  }
  .why-choose-parent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .why-choose-image {
    width: 35%;
  }
  .why-choose-content {
    width: 65%;
  }
  .why-choose-content {
    padding-left: 30px;
  }
  .why-choose-content h1 {
    font-size: 35px;
  }
}

@media (min-width: 1000px) {
  .container {
    max-width: 999px;
  }
  .why-choose-parent {
    padding: 40px 0;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
  .why-choose-parent {
    padding: 50px 0;
  }
}
